{% extends 'base.html' %}

{% block content %}

<center>
    <div class="col-lg-8 col-ld-8 col-sm-8 col-12">
        <h1>Update Profile</h1>
        <br/>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <div align="left">
                {{ profile_form.as_p }}
            </div>

            <br><br>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
    <br><br>

</center>


{% endblock %}